header
    position: relative
    z-index: 1
    padding: 10px 0
    .logo 
        display: inline-block
        margin: 0 0 15px
    .nav 
        display: flex
        flex-wrap: wrap
        list-style: none

    
footer 
    background-color: #403830
    padding: 30px 0
    margin-top: auto 
    nav
        a 
            display: inline-block
            padding: 15px
            font-size: 16px
            line-height: 100%
            &:first-child
                padding-left: 0