@import 'normolize'
@import 'elements'
@import 'header'
@import 'slick'
@import 'modal'

.main
    padding-top: 12px
    text-align: center
    .wrap
        gap: 20px 1.3%
        margin-bottom: 20px
        @media screen and ( max-width: 922px )
            gap: 20px 2%
        @media screen and ( max-width: 700px )
            gap: 15px 0
            justify-content: space-between

        &.hidden
            display: none

.card
    width: 24%
    border: 5px solid #eee
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
    cursor: pointer
    img
        display: block
        width: 100%
        object-fit: cover
        aspect-ratio: 1/1

    &-modal
        display: none
        margin: 0 20px
        position: relative
        background-color: #fff
        border-radius: 14px
        overflow: hidden
        // max-width: 400px

    &-share
        display: flex
        align-items: center
        justify-content: center
        gap: 10px
        padding: 30px 20px
        margin: 10px 0
        a
            display: block
            width: 15%

        // &::before
        //     content: '✖'
        //     pointer-events: none
        //     position: absolute
        //     top: 12px
        //     right: 15px
        //     border-radius: 50%
        //     text-align: center
        //     font-size: 18px
        //     background-color: rgba(#000, .2)
        //     color: #fff
        //     width: 36px
        //     height: 36px
        //     line-height: 38px
        //     z-index: 999

    @media screen and ( max-width: 922px )
        width: 32%
    @media screen and ( max-width: 700px )
        width: 49%

.bann
    display: block
    padding: 0 0 20px
    img
        display: block
        width: 100%
        text-align: center
        background-color: #eee

.tab
    display: none
    &.active
        display: block
